* {
  margin: 0;
  padding: 0;
  font-family: Prompt;
  animation: fadeInAnimation 1.5s;


}

.videodiv {
  width: 100%;
 
  margin-bottom: -0.5rem;




}

@keyframes leaves {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.02);
  }
}

button {
  cursor: pointer;

}
span.awssld__controls__arrow-right::before {
  box-shadow: 0 0px 18px #C1A663;
  background-color: #000000;

}

span.awssld__controls__arrow-right::after {
  box-shadow: 0 0px 18px #C1A663;
  background-color: #000000;

}

span.awssld__controls__arrow-left::before {


  box-shadow: 0 0px 18px #C1A663;
  background-color: #000000;
}

span.awssld__controls__arrow-left::after {


  box-shadow: 0 0px 18px #C1A663;
  background-color: #000000;

}

button:hover {
  transition: 1.5s;
  cursor: pointer;

  transform: scale(1.05);
}



.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  background-color:black;
  color: #C1A663;
  cursor: pointer;
  border-radius: 9px;
  border: none;
  box-shadow: 0 0px 14px #C1A663;
  display: flex;
  align-items: center;

  font-weight: bold;
  height: 5.5vh;
  z-index: 999;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimationicon {
  0% {
    opacity: 0.7;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.0);
    -webkit-transform: scale(1.05);
  }
}





@keyframes fadeIn {
  25% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}


.video {

  object-fit: cover;
  width: 100%;
  top: 0;
  left: 0;
  filter: brightness(40%);
  height: 100%;
  background-color: black;


}



.titlebackground {
  color: #C1A663;
  font-size: 47px;

  width: 900px;
  font-weight: 800;

  line-height: 7vh;
  letter-spacing: 0.5px;
  font-style: italic;
  font-family: 'Verdana';
  animation: none;

}

.divtitle {
  width: 100%;
  height: 100%;


}





.fulltextdiv {
  display: flex;




}
.wallpaper{
  width: 500px;
  animation: fadeIn 5s infinite;
}
.divwallpaper{
  background-color:transparent;
}

@keyframes initialimgw {

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


@keyframes initialimg {
  30% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.divtextbackground {

  width: 910px;

  position: absolute;


  display: flex;
  opacity: 0.9;
  align-items: center;


  justify-content: center;
  flex-direction: column;
  border-radius: 14px;
  padding-left: 3rem;
  padding-top: 3rem;


  color: #fff;
  z-index: 1;
  align-items: center;





}



.slideimg {

  height: 60vh;

  border-radius: 20px;
  opacity: 0.8;
  padding-top: 2rem;
 


}
.divparceiros{
  display: flex;
  flex-direction: column;
  background-color: #040404;
  justify-content: center;
  width: 100%;
  align-items: center;
  
  





}
.divinformation{
  display: flex;
  gap:5.5rem;
  text-align: center;
  padding-top:3rem;
}

.parceirostext{
  color: #C1A663;
 
  font-size: 38.5px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: Verdana;
width: 900px;
  text-align: center;
  justify-content: center;

}



.slide {
  display: flex;

  justify-content: center;

 
  height: 100%;
  flex-direction: column;
  








}

.carouselflex {
  display: flex;
  gap: 2rem;
}
.parceirosdescription{
  line-height: 9vh;

}
.description{
  color:#C1A663;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 2px;

}
.subdescription{  color:whitesmoke;
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  line-height: 100%;
  letter-spacing: 0.2px;
  

}

.divboard2 {
  display: flex;
  gap: 3rem;
  justify-content: center;
  background-color: #040404;
  padding-top: 3rem;


}

.titleboard {



  color: #C1A663;


  width: 450px;


  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  font-style: italic;
  font-size: 24px;
  font-family: verdana;
  font-weight: 700;







}

.boards {
  background: linear-gradient(#080809, #303841);
  border-radius: 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  gap: 0.4rem;
  animation: leaves 4s ease-in-out infinite alternate;





}

.divboard {
  display: flex;
  gap: 3rem;
  justify-content: center;
  background-color: #040404;



}
.infos{
  color:whitesmoke;
  font-weight: 200;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.5px;
  width: 260px;
line-height: 100%;
padding-left:0.4rem;
}
.divcert{

}
.cert{
  width: 260px;
  animation: fadeInAnimationicon 4s ease-in-out infinite alternate;
  
}





.imgicon1 {
  width: 50px;
  animation: initialimg 4s infinite;
  padding-left: 1.5rem;

}

.imgicon2 {
  width: 50px;
  animation: initialimg 4s infinite;
  padding-right: 1.5rem;

}



.wpp {
  width: 215px;
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.5px;
  background: linear-gradient(#080809, #303841);
  border: none;
  color: #C1A663;
  height: 7vh;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: Verdana;
  margin-top:0.5rem;
}

.pdf {
  width: 215px;
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.5px;
  background-color: #d80000;
  border: none;
  color: whitesmoke;
  height: 7vh;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: Verdana;
}

.titleap {
  color: #C1A663;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: Verdana;
}



.iconsection1 {
  width: 90px;


  animation: flip 2s alternate infinite ease-in-out;

  padding-bottom:1rem;


}

.texthab {


  width: 940px;
  font-weight: 200;
  font-style: italic;
  line-height: 5vh;

  color: whitesmoke;
  letter-spacing: 0.5px;
  font-size: 22px;
}



.iconsection {
  width: 600px;


}

@keyframes flip {
  0% {
    transform: rotateY(0);

  }

  100% {
    transform: rotateY(180deg);

  }
}

.projeto {
  color: #C1A663;
  background: linear-gradient(#080809, #303841);


  border: none;
  width: 240px;
  font-size: 15px;
  font-style: italic;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 1rem;
  height: 7vh;
  letter-spacing: 0.5px;
  font-family: Verdana;
  animation: none;

}

.awssld__container figure,
.awssld__content,
.awssld__box {
  animation: none;
  background-color: black;




}

.awssld {
  height: 105vh;

}


.subtitleap {
  color: whitesmoke;

  font-weight: 200;
  font-style: italic;
  line-height: 3.5vh;
  letter-spacing: 0.5px;
  padding-top: 0.3rem;
  width: 500px;

  font-size: 16px;

}

.columnap {
  display: flex;


  justify-content: center;
  width: 100%;
  flex-direction: column;
}



.iconwpp {
  font-size: 28px;
  padding-left: 0.4rem;
}

.iconpdf {
  font-size: 25px;
  padding-left: 0.4rem;
}

.infogap {

  
  gap: 0.5rem;
display: flex;
padding-top:0.5rem;



}
.divflexinfo{
  display: flex;
  background-color:#040404;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding-top:7rem;
  padding-bottom:4rem;
}

.divbtns {
  display: flex;
  gap: 28rem;


}


nav {
  background-color: black;
  z-index: 2;

}


.divboardtitle {
  display: flex;
  justify-content: center;
  background-color: #040404;
  padding-top: 7rem;

  align-items: center;

}

.divboardtitle2 {
  display: flex;
  justify-content: center;
  background-color: #040404;
  padding-top: 7rem;
  padding-bottom: 1rem;
  align-items: center;

}
.hrri {
  width: 15px;

  background-color:whitesmoke;

  height: 0.1vh;
  border: none;



}

.hrr {
  width: 45px;

  background-color: #C1A663;

  height: 0.2vh;
  border: none;



}

.hrrinfo {
  width: 45px;

  background-color: #C1A663;

  height: 0.2vh;
  border: none;
  justify-content: center;
  align-items: center;



}
.hrrb {
  width: 200px;

  background-color: #C1A663;

  height: 0.3vh;
  border: none;
  margin-top:0.3rem;



}
.hrhl {
  width: 45px;

  background-color: #C1A663;

  height: 0.2vh;
  border: none;
margin-bottom:1rem;


}

.divbtnwpp {
  padding-left: 0.5rem;
}

.textboard {
  color: #C1A663;

  font-size: 38.5px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: Verdana;
  padding-left:0.5rem;


}

.textboardhab {
  color: #C1A663;

  font-size: 38px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: Verdana;
  padding-bottom:1rem;

}


.textboardhl {
  color: #C1A663;

  font-size: 38px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: Verdana;

}

.divhabitacional {

  display: flex;
  justify-content: center;


  background-color: #040404;
  height: 100%;
  align-items: center;




}

.divhab1 {
  color: whitesmoke;


  display: flex;
  justify-content: center;

  flex-direction: column;
  height: 100%;
  padding-top:8rem;
  padding-bottom:2.5rem;
  





  border-radius: 36px;



}

.obrasvideo {



  width: 50%;





}

.divhab2 {
  color: whitesmoke;
  width: 50%;
  height: 100%;



}

.divsubhab {
  width: 100%;
}


.menubars {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background-color: #040404;
  height: 10vh;



}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #040404;

  animation: fadeIn 1s;


}

.subboards {

  width: 340px;
  text-align: center;

  font-size: 17px;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 3.8vh;
  color: whitesmoke;



}

.s {
  font-weight: 500;
}



nav.awssld__bullets {
  display: none;
}


.awssld__content {
  --content-background-color: #040404;








}




@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }


  100% {
    opacity: 1;
  }
}

.divcopy {
  background-color: #040404;
  display: flex;
  justify-content: center;

}

.divinfo {


  background-color:transparent;
  gap:0.5rem;
  display: flex;
  flex-direction: column;



}

.a{
  color: whitesmoke;
}





.infoiconi {
  color: whitesmoke;
  font-size: 36px;

  cursor: pointer;



}
.infoiconl {
  color: whitesmoke;
  font-size: 36px;

  cursor: pointer;  



}

.infoiconf {
  color: whitesmoke;
  font-size: 34.5px;
  border-radius: 20px;
  cursor: pointer;

}

.copy {
  color: #C1A663;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-weight: 200;
  font-style: italic;
  padding-bottom: 0.2rem;

}

@media screen and (max-width: 1200px) {
  .carouselflex {
    flex-direction: column;
    gap: 1rem;
  }

  .awssld {
    height: 145vh;
  }


}

@media screen and (max-width: 1100px) {
  .divboard {
    flex-direction: column;

    align-items: center;
  }

  .divboard2 {
    flex-direction: column;

    align-items: center;
  }

  .boards {
    width: 400px;

  }
  .divinformation{
    flex-direction: column;
    gap:3rem;
  }
  .parceirosdescription{
    line-height: 7vh;
  }

  .divbtnwpp {
    padding-left: 0rem;
  }
  .parceirostext{
    width: 600px;
  }
  .wallpaper{
    width: 500px;
  }


  .divbtns {
    display: flex;
    gap: 8rem;


    justify-content: center;


  }
  .texthab{
    width: 700px;
    font-size:22px;
  }



  .divtextbackground {

    width: 745px;


  }

  .titlebackground {
    font-size: 37px;
    width: 700px;
    line-height: 6vh;
  }
 


  .slide {
    flex-direction: column;
    gap: 1rem;




  }


 



}

@media screen and (max-width: 900px) {
  .divtextbackground {
    height: 75vh;

    width: 550px;
  }

  .titlebackground {
    font-size: 27px;
    width: 500px;
    line-height: 4.7vh;
  }
  .hrrb{
    width: 150px;
  }

 

  .texthab {
    width: 500px;
    font-size:21px;
  }






}

@media screen and (max-width: 800px) {

  .divflexinfo{
    flex-direction: column-reverse;
    gap:2rem;
  }
}

@media screen and (max-width: 700px) {
  .textboard {
    font-size: 30px;

  }
  .parceirostext {
    font-size: 30px;

  }

  .textboardhl {
    font-size: 30px;
  }

  .textboardhab {
    font-size: 30px;

  }

  .titleap {
    font-size: 21px;
  }

  .divtextbackground {
    width: 470px;

  }


  .texthab {
    width: 370px;
  }

  .divbtns {
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start
  }

  .awssld {
    height: 145vh;
  }
  .wallpaper{
    width: 400px;
  }



}

@media screen and (max-width: 600px) {
  .divtextbackground {
    width: 400px;

  }

  .titlebackground {
    font-size:20px;
    width: 370px;
    line-height: 3.5vh;
    
  }
  
  .parceirostext{
    width: 450px;
  }

  .textboard {
    font-size: 28px;

  }

  .textboardhl {
    font-size: 28px;
  }

  .textboardhab {
    font-size: 28px;

  }
}

@media screen and (max-width: 500px) {
  .divtextbackground {
    width: 310px;
    height: 0;
    padding-left: 1.2rem;
    padding-top: 1rem;






  }
  .divparceiros{
  padding-top:0.5rem;
    background-color: #040404;
  }
  .cert{
    width: 200px;
  
    
  }
  .hrrb{
    width: 50px;
    height: 0.1vh;
  }
  .divhab1{
    padding-bottom:1rem;
    padding-top:4rem;
  }

  .menubars {
    height: 7vh;
  }

  .imgicon1 {
    width: 30px;


  }

  .imgicon2 {
    width: 35px;

  }

  .divboardtitle {
    padding-top: 4rem;
  }

  .divboardtitle2 {
    padding-top: 4rem;
  }

  .awssld {
    height: 100vh;

  }

  .columnap {
    align-items: center;
  }


  .projeto {
    opacity: 0.8;
    width: 280px;
    font-size: 17px;
  }

  .videodiv {
    width: 100%;
    height: 100%;
    margin-top: -0.1rem;

  }

  .video {
    width: 100%;

  }

  .titlebackground {
    width: 230px;
    line-height:100%;
    font-size: 21px;
  }





  .texthab {
    width: 310px;
    font-size: 15px;
    line-height: 2.7vh;
    letter-spacing: 0.2px;

  }




  .textboard {
    font-size: 23px;
    padding-left:1.2rem;
  }
  .parceirostext{
    font-size: 23px;
    width: 300px;
  }
  .wallpaper{
    width: 250px;
  }
  .textboardhl {
    font-size: 23px;
  }
 


  .subtitleap {
    font-size: 16px;
    width: 280px;
    letter-spacing: 0.2px;
    line-height: 2.5vh;
    text-align: center;
  }

  .boards {
    width: 310px;
    height: 32vh;

  }

 



  .subboards {
    font-size: 15px;
    width: 230px;
    line-height: 2.5vh;

  }



  .titleboard {
    width: 270px;
  }
  .divinformation{}

  .slideimg {
    width: 100%;
    border-radius: 0px;
    height: 100%;
    padding-top: 0;



  }





  .divboard {

    gap: 2rem;



  }

  .divboard2 {

    gap: 2rem;
    padding-top: 2rem;


  }

  .divbtns {
    padding-top: 1rem;
  }

  .divbtn {
    padding-top: 1rem;
  }

  .infoiconi {
    font-size: 44px;
  }

  .infoiconl {
    font-size: 45px;

  }


}

@media screen and (max-width: 380px) {


  .boards {
    width: 300px;
    height: 40vh;
  }

  .subboards {
    line-height: 3vh;
  }



  .texthab {
    line-height: 3.2vh;
    width: 300px;
    font-size: 15px;
  }

 

  .subtitleap {
    line-height: 3vh;
  }


  .awssld {
    height: 115vh;
  }



}




@media screen and (max-width: 350px) {
  .boards {
    width: 280px;
  }
  .texthab{
    width: 280px;
  }

  .textboard {
    font-size: 20px;
  }

  .textboardhl {
    font-size: 20px;
  }

  .awssld {
    height: 120vh;
  }


}